

.myCustom{
    background-color: azure!important;
}

.btn-toolbar{
    width: 100%!important;
    text-align: right;
    border-spacing: 10px;
    
}

.inner{
    display: inline-block!important;
    width: 20%;
    text-align: right!important;

}


.backButton{
    display: inline-block;
    text-align: center;
    width: 20%;
}