<!-- Default form register -->
<form class="text-center border border-light p-5 customClass">

    <p class="h4 mb-4">Appointment Details</p>
  
    
  
    

      
          <div class="md-form">
              <textarea type="datepicker" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
              <!-- <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selected date'" [(ngModel)]="model"
          required></mdb-date-picker> -->
              <label for="form7">Appointment Date</label>
          </div>
     
  
   

      <div class="md-form">
      <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
      <label for="form7">Symptoms</label>
    </div>

  
    
   

          <div class="md-form">
            <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
            <label for="form7">Diagnosis</label>
          </div>
  

  
        <div class="md-form">
            <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
            <label for="form7">Treatment</label>
        </div>

    
        <div class="md-form">
            <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
            <label for="form7">Prescription</label>
          </div>
   
         


            <div class="md-form">
                <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                <label for="form7">Other Details</label>
              </div>

              <div class="md-form">
                  <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                  <label for="form7">Medical Certificate</label>
                </div>

                <div class="md-form">
                    <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                    <label for="form7">Vaccination</label>
                  </div>
                
                  <div class="md-form">
                      <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                      <label for="form7">Lab Tests</label>
                    </div>

                    <div class="md-form">
                        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                        <label for="form7">Hospitalisation</label>
                      </div>

                      <div class="md-form">
                          <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                          <label for="form7">Specialist Referral</label>
                        </div>
                      
                        <div class="md-form">
                            <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                            <label for="form7">Associated Patient Id</label>
                        </div>

                        <div class="md-form">
                            <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                            <label for="form7">Associated Doctor Id</label>
                          </div>
      
          
   
     
  
    <!-- Sign up button -->
    <button mdbBtn type="button" block="true" gradient="aqua" class="my-4" rounded="true" type="submit" mdbWavesEffect>Save Appointment</button>
  
    
    <hr>
  
    <!-- Terms of service -->
    <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a> and
      <a href="" target="_blank">terms of service</a>. </p>
  
  </form>
  <!-- Default form register -->


  