<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar #69f0ae green accent-2 ie-nav navbarCustom">
  <mdb-navbar-brand>
        <div>
            <a class="logo navbar-brand" href="#"><strong>HealthTrak</strong></a>
        </div>


  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLink="/doctor" routerLinkActive="active" class="nav-link">Doctors</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLink="/patient" routerLinkActive="active" class="nav-link">Patients</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLink="/appointment" routerLinkActive="active" class="nav-link">Appointments</a>
            </li> -->
            <!-- <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLink="/patient-detail" routerLinkActive="active" class="nav-link">Patient Detail</a>
          </li> -->
          <!-- <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLink="/doctor-detail" routerLinkActive="active" class="nav-link">Doctor Detail</a>
          </li> -->
          <!-- <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLink="/appointment-detail" routerLinkActive="active" class="nav-link">Appointment Detail</a>
          </li> -->
          <!-- <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLink="/create-patient" routerLinkActive="active" class="nav-link">Create Patient</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLink="/create-doctor" routerLinkActive="active" class="nav-link">Create Doctor</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a routerLink="/create-appointment" routerLinkActive="active" class="nav-link">Create Appointment</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a routerLink="/" routerLinkActive="active" class="nav-link">Logout</a>
        </li> -->
          <!--<div class="btn-group" dropdown mdbWavesEffect>
                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" ripple-radius>
                    Login
                </button>

                 <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" href="#">Patient Login</a>
                    <a class="dropdown-item" href="#">Doctor Login</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>-->
      <!-- </ul>

  </links>
</mdb-navbar> -->

<title>
  <h1>'Welcome to HealthTrak!'</h1>
</title>

<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-md-12">
      <links class="linksClass">
        <ul class="nav aqua-gradient py-4 mb-r font-weight-bold z-depth-1">
          <li class="nav-item">
            <a class="nav-link active white-text" href="#">HEALTHTRAK</a>
          </li>
          <div *ngIf="isAdminUser">
            <li class="nav-item">
              <a routerLink="/doctor" routerLinkActive="active" class="nav-link white-text">Doctors</a>
            </li>
          </div>
          <div *ngIf="isAdminUser">
            <li class="nav-item">
              <a routerLink="/patient" routerLinkActive="active" class="nav-link white-text">Patients</a>
            </li>
          </div>
          <div *ngIf="isAdminUser">
            <li class="nav-item">
              <a routerLink="/patient-detail" routerLinkActive="active" class="nav-link white-text">New Patient</a>
            </li>
          </div>
          <div *ngIf="isAdminUser">
            <li class="nav-item">
              <a routerLink="/doctor-detail" routerLinkActive="active" class="nav-link white-text">New Doctor</a>
            </li>
          </div>

          <!-- <li class="nav-item">
              <a routerLink="/appointment-detail" routerLinkActive="active" class="nav-link white-text">Appointment Detail</a>
          </li>  -->
          <li class="nav-item mr-auto">
            <!-- <a routerLink="/" routerLinkActive="active" class="nav-link white-text">Logout</a> -->
            <a class="nav-link white-text" (click)="logout()">Logout</a>
          </li>
        </ul>
      </links>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->


<!-- Main -->
<main class="mainAppClass">
  <div *ngIf="currentUser" class="mx-auto">
    <p class="text-center mt-3">
      Welcome {{currentUser.firstName}}
    </p>
  </div>
  <div class="container myContainer">
    <hr>
      <alert></alert>
    <router-outlet></router-outlet>

  </div>
</main>
<!-- /.Main -->
