.navbar a.white-text:hover { color: #e0e0e0!important; }

.nav-link{
    color: white!important;
    font-weight: bold;
}

.logo navbar-brand{
    color: white;
}

.navbar {
    width: 100%;
}

.container {
  background-color: azure;

}

background {
  background-color: azure;
}
