<div class="container">
  <div class="row">
    <div class="col-md-3">
      <button mdbBtn type="button" block="true" gradient="aqua" class="my-4" rounded="true" type="submit" mdbWavesEffect routerLink="/" routerLinkActive="active">HealthTrak Home</button>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
      <div class="jumbotron">
        <i class="fa fa-heartbeat" aria-hidden="true"></i>
        APPOINTMENTS TABLE
      </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped w-auto" mdbTable striped="true"  responsive="true">
          <thead class="tableHead">
          <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Symptoms</th>
            <th>Diagnosis</th>
            <th>Treatment</th>
            <th>Prescription</th>
            <th>Other Details</th>
            <!-- <th>Medical Certificate</th>
            <th>Vaccination</th>
            <th>Lab Tests</th>
            <th>Hospitalisation</th> -->
            <!-- <th>Specialist Referral</th> -->
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let appointment of appointments">
            <td>{{appointment.Appointment_Id}}</td>
            <td>{{appointment.Appointment_Date}}</td>
            <td>{{appointment.Appointment_Symptoms}}</td>
            <td>{{appointment.Appointment_Diagnosis}}</td>
            <td>{{appointment.Appointment_Treatment}}</td>
            <td>{{appointment.Appointment_Prescription}}</td>
            <td>{{appointment.Appointment_Other_Details}}</td>
            <!-- <td>{{appointment.Appointment_Medical_Certificate}}</td>
            <td>{{appointment.Appointment_Vaccination}}</td>
            <td>{{appointment.Appointment_Lab_Tests}}</td>
            <td>{{appointment.Appointment_Hospitalisation}}</td>
            <td>{{appointment.Appointment_Specialist_Referral}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <button mdbBtn type="button" block="true" gradient="aqua" class="my-4" rounded="true" type="submit" mdbWavesEffect routerLink="/appointment-detail" routerLinkActive="active">View My Appointments</button>
    </div>
  </div>
</div>
