<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <button mdbBtn type="button" block="true" gradient="aqua" class="my-4" rounded="true" type="submit" mdbWavesEffect routerLink="/patient" routerLinkActive="active">View Patients</button>
    </div>
    <div class="col-md-3">
      <button mdbBtn type="button" block="true" gradient="aqua" class="my-4" rounded="true" type="submit" mdbWavesEffect routerLink="/appointment-detail" routerLinkActive="active">Create New Appointment</button>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
      <div class="jumbotron">
        <i class="fa fa-heartbeat" aria-hidden="true"></i>
        APPOINTMENTS TABLE
      </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped w-auto" mdbTable striped="true"  responsive="true">
          <thead class="tableHead">
          <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Symptoms</th>
            <th>Diagnosis</th>
            <th>Treatment</th>
            <th>Prescription</th>
            <th>Other Details</th>
            <!-- <th>Medical Certificate</th>
            <th>Vaccination</th>
            <th>Lab Tests</th>
            <th>Hospitalisation</th> 
            <th>Specialist Referral</th>  -->
            <th>Patient Id</th>
            <th>Doctor Id</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let appointment of appointments">
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Id}}</td>
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Date}}</td>
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Symptoms}}</td>
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Diagnosis}}</td>
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Treatment}}</td>
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Prescription}}</td>
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Other_Details}}</td>
            <!-- <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Medical_Certificate}}</td>
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Vaccination}}></td>
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Lab_Tests}}</td>
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Hospitalisation}}</td>
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Specialist_Referral}}</td> -->
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Patient_Id}}</td>
            <td [routerLink]="['/appointment-detail',appointment.Appointment_Id]"> {{appointment.Appointment_Doctor_Id}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <button mdbBtn type="button" block="true" gradient="aqua" class="my-4" rounded="true" type="submit" mdbWavesEffect routerLink="/doctor" routerLinkActive="active">Back</button>
    </div>
  </div>
</div>
