<div class = "container">
  <div class = "row">
    <div class = "col-md-3">
        <button mdbBtn type="button" block="true" gradient="aqua" class="my-4" rounded="true" type="submit" mdbWavesEffect routerLink="/appointment" routerLinkActive="active">Back</button>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
        <!-- Default form register -->
<form class="text-center border border-light p-5 customClass">

    <p class="h4 mb-4">Appointment Details</p>

      <div class="md-form">
          <input type="date" id="form7" class="md-datearea md-datearea-auto form-control" mdbInput  [(ngModel)]="appointmentDetail.Appointment_Date" name="Appointment_Date" [disabled]="isRead">
          <label for="form7"></label>
      </div>

      <div class="md-form">
        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="appointmentDetail.Appointment_Symptoms" name="Appointment_Symptoms" [disabled]="isRead"></textarea>
        <label for="form7">Symptoms</label>
      </div>

          <div class="md-form">
            <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="appointmentDetail.Appointment_Diagnosis" name="Appointment_Diagnosis" [disabled]="isRead"></textarea>
            <label for="form7">Diagnosis</label>
          </div>



        <div class="md-form">
            <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="appointmentDetail.Appointment_Treatment" name="Appointment_Treatment" [disabled]="isRead"></textarea>
            <label for="form7">Treatment</label>
        </div>


        <div class="md-form">
            <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="appointmentDetail.Appointment_Prescription" name="Appointment_Prescription" [disabled]="isRead"></textarea>
            <label for="form7">Prescription</label>
          </div>




            <div class="md-form">
                <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="appointmentDetail.Appointment_Other_Details" name="Appointment_Other_Details" [disabled]="isRead"></textarea>
                <label for="form7">Other Details</label>
              </div>

              <div class="md-form">
                  <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="appointmentDetail.Appointment_Medical_Certificate" name="Appointment_Medical_Certificate" [disabled]="isRead"></textarea>
                  <label for="form7">Medical Certificate</label>
                </div>

                <div class="md-form">
                    <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="appointmentDetail.Appointment_Vaccination" name="Appointment_Vaccination" [disabled]="isRead"></textarea>
                    <label for="form7">Vaccination</label>
                  </div>

    <div class="md-form">
        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="appointmentDetail.Appointment_Lab_Tests" name="Appointment_Lab_Tests" [disabled]="isRead"></textarea>
        <label for="form7">Lab Tests</label>
    </div>

    <div class="md-form">
        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="appointmentDetail.Appointment_Hospitalisation" name="Appointment_Hospitalisation" [disabled]="isRead"></textarea>
        <label for="form7">Hospitalisation</label>
    </div>

    <div class="md-form">
        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="appointmentDetail.Appointment_Specialist_Referral" name="Appointment_Specialist_Referral"  [disabled]="isRead"></textarea>
        <label for="form7">Specialist Referral</label>
    </div>

    <div class="md-form">
        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="appointmentDetail.Appointment_Patient_Id" name="Appointment_Patient_Id" [disabled]="isRead"></textarea>
        <label for="form7">Associated Patient Id</label>
    </div>

    <div class="md-form">
      <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput [(ngModel)]="appointmentDetail.Appointment_Doctor_Id" name="Appointment_Doctor_Id"></textarea>
      <label for="form7">Associated Doctor Id</label>
    </div>
  </form>
  <!-- Default form register -->
    </div>


  </div>
  <div class = "row">
    <div class = "col-md-6">
        <!-- Save button -->
    <button mdbBtn type="button" block="true" gradient="aqua" class="my-4" rounded="true" type="submit" (click)="createAppointment()" [disabled]="isRead" mdbWavesEffect>Save</button>
    </div>
    <div class = "col-md-6">
      <!-- Cancel button -->
    <button mdbBtn type="button" block="true" gradient="aqua" class="my-4" rounded="true" type="submit" mdbWavesEffect routerLink="/appointment" routerLinkActive="active" [disabled]="isRead">Cancel</button>

    </div>

  </div>
</div>
