
.form { 
    background-color:seashell;
 }

.customClass { 
    background-color: azure!important; 
}

#outer{
    width: 100%!important;
    text-align: center;
}

.inner{
    display: inline-block;
    width: 20%;
}

.backButton{
    display: inline-block;
    text-align: center;
    width: 20%;
}