.form-horizontal{
    text-align: center;
}

.card {
  float: center;
}

.h5 {
  background-color: #69f0ae!important;
}

.waves-effect {
  background-color: #69f0ae!important;
}

.info-color {
  background-color: #69f0ae!important;
}

.btn-outline-info {
  color: white!important;
  border-color: white!important;
}
